<!DOCTYPE html>
<html>
  <head>
    <title>Node JS - Nunjucks</title>
    <link type="text/css" rel="stylesheet" href="http://localhost:3000/css/style.css" />
  </head>

  <body>
    <div class="container">
      <form action="/check" method="POST">
        <label for="age">Digite a sua idade:</label>
        <input type="text" name="age" id="age"/>
        <button type="submit">Enviar</button>
      </form>
    </div>
  </body>
</html>